
- name: Configure Master and Generate Join Command
  hosts: master
  become: true
  tasks:
    - name: Generate join token
      command: microk8s add-node --format short
      register: join_command_raw

    - name: Print the captured command output
      ansible.builtin.debug:
        var: join_command_raw.stdout_lines

    - name: Set join command as a fact
      set_fact:
        join_command: "{{ join_command_raw.stdout_lines[0] }}"

    - name: Print the captured command output
      ansible.builtin.debug:
        var: join_command_raw.stdout



- name: Join Worker Nodes to Cluster
  hosts: workers
  become: true
  tasks:
    - name: Join the cluster
      command: "{{ hostvars[groups['master'][0]]['join_command'] }}"
      register: join_result
      failed_when: 
        - join_result.rc != 0 
        - "'already part of a cluster' not in join_result.stderr"
